<template>
    <section class="categories">
        <span class="title-section">Categorías</span>
        <div class="container-categories" v-if="categories.length != 0 && !loading">
            <div class="categorie" :class="categorieSelected === a ? 'active': ''" v-for="(a,i) in categories" :key="i" @click="selectCategorie(a)">
                <span>{{a}}</span>
            </div>
        </div>
        <div class="container-categories loading" v-else-if="loading">
            <v-progress-circular
                indeterminate
                color="red"
            ></v-progress-circular>
        </div>
        <div class="container-categories" v-else>
            <span>No existen categorías.</span>
        </div>
    </section>
</template>

<script>
import { mapActions } from 'vuex'
export default {
    props: ['categorieSelected'],
    data(){
        return {
            categories: [],
            loading: true
        }
    },
    methods: {
        ...mapActions("product",['getCategories']),
        async getCategoriesService(){
            try {
                this.loading = true
                this.categories = await this.getCategories()
            } catch (error) {
                this.categories = []
                console.log("error",error)
            } finally {
                this.loading = false
            }
        },
        selectCategorie(param){
            this.$emit('selectCategorie',param)
        }
    },
    async mounted(){
        await this.getCategoriesService()
    }
}
</script>

<style lang="scss">
    section{
        &.categories{
            .title-section{
                color: red;
                font-size: 20px;
                font-weight: 700;
                margin-left: 20px;
            }
            .container-categories{
                background-color: #eff7f5;
                padding: 12px;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                gap: 8px;
                overflow-x: scroll;
                flex-wrap: nowrap;
                .categorie{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex: 1;
                    height: 45px;
                    background-color: red;
                    border-radius: 8px;
                    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
                    padding: 0px 4px;
                    span{
                        white-space: nowrap;
                        color: white;
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: capitalize;
                    }
                    &.active{
                        background-color: yellow;
                        span{
                            color: red;
                        }
                    }
                }
                &.loading{
                    justify-content: center;
                    align-items: center;
                }
            }
        }        
    }
</style>