<template>
    <section class="products">
        <div class="container-products" v-if="products.length != 0 && !loadingProductsByCategories">
            <ProductComponent v-for="(a,i) in products" :key="i" :product="a"/>
        </div>
        <div class="container-products loading" v-else-if="loadingProductsByCategories">
            <v-progress-circular
                indeterminate
                color="red"
            ></v-progress-circular>
        </div>
        <div class="container-products" v-else>
            <span>Ninguna categoría seleccionada.</span>
        </div>
    </section>
</template>

<script>
import ProductComponent from '@/components/ProductComponent'
export default {
    props: ['products', 'loadingProductsByCategories'],
    components: {
        ProductComponent
    },
    methods: {
        
    }
}
</script>

<style lang="scss">
    section{
        &.products{
            .title-section{
                color: red;
                font-size: 20px;
                font-weight: 700;
                margin-left: 20px;
            }
            .container-products{
                background-color: #eff7f5;
                padding: 20px;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                gap: 8px;
                overflow-x: scroll;
                flex-wrap: nowrap;
                &.loading{
                    justify-content: center;
                    align-items: center;
                }
            }
        }        
    }
</style>