<template>
    <div class="product">
        <div class="section-image">
            <img :src="product.image">
        </div>
        <div class="section-characteristics">
            <span class="title-product">{{product.title}}</span>
            <span>Plaza vea</span>
            <span class="price-label">Precio x kg</span>
            <span class="price-value">S/ {{product.price}}</span>
        </div>
        <div class="section-btn">
            <v-btn
            color="red"
            elevation="2"
            width="80px"
            height="24px"
            x-small>
                <span>Agregar</span>
            </v-btn>
        </div>
    </div>
</template>

<script>
export default {
    props: ['product']

}
</script>

<style lang="scss">
    .product{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 120px;
        max-width: 120px;
        min-height: 270px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
        padding: 12px;
        .section-image{
            align-self: center;
            img{
                height: 70px;
                max-width: 100%;
            }
        }
        .section-characteristics{
            display: flex;
            flex-direction: column;
            span{
                color: #0a5194;
                text-transform: capitalize;
                font-size: 10px;
                font-weight: 400;
                &.title-product{
                    font-size: 14px;
                    font-weight: 600;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;                     
                }
                &.price-label{
                    margin-top: 20px;
                    font-size: 8px;
                }
                &.price-value{
                    font-size: 16px;
                    font-weight: 600;
                    color: red;
                }
            }
        }
        .section-btn{
            align-self: center;
            .v-btn{
                border-radius: 6px;
                span{
                    text-transform: uppercase;
                    color: white;
                    font-size: 9px;
                }
            }
        }
    }    
</style>