<template>
    <section class="products">
        <div class="container-products" v-if="products.length != 0 && !loading">
            <ProductComponent v-for="(a,i) in products" :key="i" :product="a"/>
        </div>
        <div class="container-products loading" v-else-if="loading">
            <v-progress-circular
                indeterminate
                color="red"
            ></v-progress-circular>
        </div>
        <div class="container-products" v-else>
            <span>No existen productos.</span>
        </div>
    </section>
</template>

<script>
import ProductComponent from '@/components/ProductComponent'
import { mapActions } from 'vuex'
export default {
    components: {
        ProductComponent
    },
    data(){
        return {
            products: [],
            loading: true
        }
    },
    methods: {
        ...mapActions("product",['getProducts']),
        async getProductsService(){
            try {
                this.loading = true
                this.products = await this.getProducts()
            } catch (error) {
                this.products = []
                console.log("error",error)
            } finally{
                this.loading = false
            }
        }
    },
    async mounted(){
        await this.getProductsService()
    }
}
</script>

<style lang="scss">
    section{
        &.products{
            .title-section{
                color: red;
                font-size: 20px;
                font-weight: 700;
                margin-left: 20px;
            }
            .container-products{
                background-color: #eff7f5;
                padding: 20px;
                border-radius: 8px;
                display: flex;
                flex-direction: row;
                gap: 8px;
                overflow-x: scroll;
                flex-wrap: nowrap;
                &.loading{
                    justify-content: center;
                    align-items: center;
                }
            }
        }        
    }
</style>