<template>
  <v-app>
    <v-app-bar color="white" elevation="0" app clipped-left>
      <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>
      <v-toolbar-title class="pl-1">
        <img src="@/assets/img/logo.png" />
      </v-toolbar-title>
    </v-app-bar>
    <v-main>
      <Nuxt />
    </v-main>
    <v-navigation-drawer v-model="drawer" app clipped fixed height="100%">
      <template v-slot:append>
        <v-list nav dense>
          <v-list-item-group
            v-model="group"
            active-class="red--text text--accent-4"
          >
            <v-list-item @click="logoutSession">
              <v-list-item-icon>
                <v-icon>mdi-home-export-outline</v-icon>
              </v-list-item-icon>
              <v-list-item-title>Cerrar Sesión</v-list-item-title>
            </v-list-item>
          </v-list-item-group>
        </v-list>
      </template>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
export default {
  middleware: ["auth"],
  data() {
    return {
      drawer: false,
      group: ''
    };
  },
  methods: {
    logoutSession(){
      this.$auth.logout(this.$auth.strategy.name)
    }
  }
};
</script>

<style lang="scss">
header{
  z-index: 10000 !important;
}
.v-toolbar__content {
  padding: 4px 28px;
  display: flex;
  align-items: center;
  .v-app-bar__nav-icon {
    display: flex;
    align-items: flex-end;
    padding-bottom: 6px;
  }
  .v-toolbar__title {
    display: flex;
    align-items: center;
  }
}
</style>