<template>
  <main>
    <div class="container-welcome">
      <div class="welcome">¡Hola Rodrigo!</div>
    </div>
    <Categories @selectCategorie="selectCategorie" :categorieSelected="categorieSelected"/>
    <Products/>
    <ProductsByCategorie :products="productsByCategories" :loadingProductsByCategories="loadingProductsByCategories" v-if="categorieSelected"/>
  </main>
</template>

<script>
import Categories from '@/components/Categories'
import ProductsByCategorie from '@/components/ProductsByCategorie'
import { mapActions } from 'vuex'
export default {
  layout: 'Auth',
  components: {
    Categories,
    ProductsByCategorie
  },
  data() {
    return {
      productsByCategories: [],
      categorieSelected: '',
      loadingProductsByCategories: null
    }
  },
  methods: {
    ...mapActions("product",['getProductsByCategories']),
    async selectCategorie(val){
      this.categorieSelected = val
      await this.getProductsByCategoriesService()
    },
    async getProductsByCategoriesService(){
      try {
        this.loadingProductsByCategories = true
        this.productsByCategories = []
        this.productsByCategories = await this.getProductsByCategories(this.categorieSelected)
      } catch (error) {
        console.log("error",error)
      } finally {
        this.loadingProductsByCategories = false
      }
    }
  }
}
</script>

<style lang="scss">
  main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 12px;
    gap: 15px;
    .container-welcome{
      display: flex;
      justify-content: center;
      .welcome{
        font-size: 20px;
        font-weight: 700;
        color: #0a5194;
      }
    }
  }
</style>
