<template>
  <div class="container-login">
    <div class="login">
      <div class="login-title">
        <span>APROVECHA</span>
        <span>LOS MEJORES PRECIOS </span>
        <span>QUE TENEMOS PARA TI</span>
      </div>
      <div class="login-form">
        <v-card
          elevation="8"
        >
          <div class="container-form">
            <span>INGRESA TU DNI</span>
            <span>y obtén descuentos exclusivos</span>
            <v-form v-model="validForm">
              <v-text-field
                placeholder="Ejemplo: 73130183"
                filled
                dense
                full-width
                height="35"
                background-color="#00000029"
                type="number"
                hide-details="auto"
                v-model="formLogin.dni"
                :rules="rules.dni"
              ></v-text-field>
            </v-form>
            <v-btn
              elevation="0"
              rounded
              small
              color="yellow"
              @click="loginWithDNI()"
              :disabled="!validForm"
            >
              <span>Ingresar</span>
            </v-btn>
          </div>
        </v-card>
      </div>
      <div class="login-logo">
        <img src="@/assets/img/principal.png" width="270">
      </div>
    </div>
  </div>
</template>

<script>
import helperValidation from '@/helpers/validations'
import { mapActions } from 'vuex';
export default {
  layout: 'NotAuth',
  data() {
    return {
      validForm: false,
      formLogin :{
        dni: '',
      },
      rules: {
        dni: [
          value => helperValidation.documentNumberType(value) || 'No es un N° válido.'
        ]
      }
    }
  },
  methods:{
    ...mapActions("account",['login']),
    loginWithDNI(){
      if(this.validForm){
        this.login(this.formLogin)
      }
    }
  }
}
</script>

<style lang="scss">
  .container-login{
    display: flex;
    justify-content: center;
    align-items: center;
    .login{
      padding: 30px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 270px;
      gap: 20px;
      &-title{
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        span{
          color: red;
          font-weight: 700;
          font-size: 22px;
          &:nth-child(3){
            font-weight: 400;
          }
        }
      }
      &-form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        .v-card{
          width: 100%;
          border-radius: 14px;
          .container-form{
            padding: 12px 16px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            span{
              color: red;
              font-weight: 700;
              font-size: 16px;
              &:nth-child(2){
                font-weight: 400;
              }
            }
            .v-form{
              width: 100%;
              display: flex;
              justify-content: center;
              .v-input{
                margin: 8px 0px;
                max-width: 200px;
                width: 100%;
                font-size: 12px;
                .v-input__control{
                  .v-input__slot{
                    min-height: 30px;
                    border-radius: 4px;
                    &::after, &::before{
                      content: none;
                    }
                  }
                }
              }              
            }
            .v-btn{
              width: 110px;
              height: 25px;
              span{
                text-transform: capitalize;
                font-size: 12px;
              }
            }
          }
        }
      }
      &-logo{
        width: 100%;
      }
    }
  }
  @media (min-width: 1023px) {
    .container-login{      
      height: 100%;
    }
  }
</style>